[submodule "external/abi"]
	path = external/abi
	url = https://github.com/GameModManager/ABI
	branch = main
[submodule "external/plugins"]
	path = external/plugins
	url = https://github.com/GameModManager/Plugins
	branch = main
[submodule "themes"]
	path = themes
	url = https://github.com/GameModManager/Themes
	branch = main
[submodule "i18n"]
	path = i18n
	url = https://github.com/GameModManager/i18n
	branch = main
[submodule "packaging"]
	path = packaging
	url = https://github.com/GameModManager/Packaging
	branch = main
[submodule "resources"]
	path = resources
	url = https://github.com/GameModManager/Resources
	branch = main
